* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.recipe-card {
  container-type: inline-size;
  aspect-ratio: 6 / 5;
  width: 100%;
  max-width: 450px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  max-height: 100%;
}

.container-recipe-image-and-icon {
  background-color: rgb(179, 179, 179);
  position: relative;
  overflow: hidden;
  flex: 0 0 55%;
}

.container-recipe-image-and-icon img {
  width: 100%;
  height: 100%;  
  object-fit: cover;
  object-position: center center;
}

.container-wishlist-icon {
  position: absolute;
  display: flex;
  top: 6px;
  right: 6px;
  height: auto;
}

.bookmark-icon {
  font-size: 130%;
}

.container-all-recipe-info {
  padding: 0px 10px;
  flex: 1 1 auto;

  display: flex;
  flex-flow: column nowrap;
}

.name {
  color: black;
  text-align: left;
  font-size: 6.5cqw;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  text-align: left;
  font-size: 4.5cqw;
  line-height: 4.5cqw;
  color: gray;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  line-clamp: 3;
}



.container-recipe-type-and-ready-in-minutes {
  margin-top: auto;
  margin-bottom: 4px;
  padding-top: 3px;
  border-top: 1px dashed gray;

  display: flex;
  justify-content: space-between;

  font-size: min(5cqw, 18px);
  font-weight: bold;
}

.container-recipe-type {
  display: flex;
  align-items: center;
  gap: 5px;

  color: black;
}

.container-ready-in-minutes {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ready-in-minutes {
  color: black;
}



