
.checkboxGroup {
    container-name: checkbox-group-container;
    border: none;
}

legend {
    color: var(--Paleta01);
    font-size: min(4cqw, 1.4rem);
    margin-bottom: 0.5rem;
    font-weight: bold;
}

label {
    color: var(--Paleta03);
    font-weight: 500;
    font-size: min(2.5cqw, 0.9rem);
    line-height: 1.2rem;
    display: flex;
    align-items: stretch;

}

input[type="checkbox"] {
    aspect-ratio: 1 / 1;
    width: 10%;
    margin-right:6px;
    accent-color: var(--Paleta01) ;
  
}