
.checkboxGroup {
    container-name: checkbox-group-container;
    border: none;
}

legend {
    color: var(--Paleta01);
    font-size: clamp(18px, 4vw, 24px);
}

label {
    color: var(--Paleta03);
    font-weight: 500;
    font-size: clamp(12px, 3vw, 14px);
    line-height: 1.2rem;
}

input[type="checkbox"] {
    aspect-ratio: 1 / 1;
    width: 10%;
    margin-right:6px;
    accent-color: var(--Paleta01) ;
}