:root {
  --bg-img-main-content: url("../assets/background-food.jpg");
}


main {
  height: 70vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-image: var(--bg-img-main-content);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(15px);
}


.recipe-grid-home {
  width: 100%;
  max-width: 1289px; /*min width do grid + todos os gaps - 1 */
  display: grid;
  justify-items: center;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;

}