:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --text-color: rgb(114, 114, 114);
}

.h1 {
    max-width: unset;
    width: unset;
    text-align: unset;
    color: #2CA849;
    font-size: 3rem;
}

.description {
    color: var(--text-color);
    font-size: 1rem;
    font-style: italic;
}