
.titlePage {
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-flow: column nowrap;
}

:root {
    color: black;
}

.toleranceContainer {
    display: flex;
    align-items: center;

}


.selectedIngredientsContainer {
    list-style-type: none;
    display: grid;
    width: 80vw;
    margin: 0 auto;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}


/*--------------------GENERAL CLASSES-------------*/

