
.filterSearchBar {
    max-height: 30vh;
    width: 100%;
    min-width: 10rem;
    overflow: auto;
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--Paleta02);
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    z-index: 500;
}

.filterSearchBar > * {
    margin-left: auto;
    margin-right: auto;
}

.filterSearchBar::-webkit-scrollbar-track {
   
}

.checkboxGroup {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    margin-top: 20px;
}
.checkboxGroup label {
    margin-top: 2px;
}

.checkboxGroup label:first-of-type {
    margin-top: 4px;
}

legend {
    font-weight: bold;
}

label {
    display: flex;
    align-items: stretch;
}

input[type="checkbox"] {
    flex: 0 0 auto;
}

.applyFilters {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--Paleta01);
}

button {
    border: none;
}

