
.filterSearchBar {
    max-height: 30vh;
    width: 100%;
    min-width: 10rem;
    overflow: auto;
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--Paleta02);
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    z-index: 1;
}

.filterSearchBar > * {
    margin-left: auto;
    margin-right: auto;
}

.allCheckboxGroups > * {
    margin-bottom: 1rem;
}

.applyFilters {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border-radius: var(--small-border-radius);
    background-color: var(--Paleta01);
}

button {
    border: none;
}

