:root {
    --filter-bg-color: white;
    --filter-button-bg-color: #2CA849;
    --search-bar-bg-color: #f1f1f1;
    --search-bar-container-bg-color: #f1f1f1;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.filter-search-bar {
    max-height: 30vh;
    width: 100%;
    min-width: 10rem;
    overflow: auto;
    position: absolute;
    top: calc(100% + 6px); /*Altura do pai + padding da search bar*/
    right: 0;

    background-color: var(--filter-bg-color);
    padding: 5px;

    border-radius: 0px 0px 5px 5px;
}


.filter-search-bar > * {

    margin-left: auto;
    margin-right: auto;
}

.filter-search-bar::-webkit-scrollbar-track {
   
}

.checkbox-group {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    margin-top: 20px;
}
.checkbox-group label {
    margin-top: 2px;
}

.checkbox-group label:first-of-type {
    margin-top: 4px;
}

legend {
    font-weight: bold;
}

label {
    display: flex;
    align-items: stretch;
}

input[type="checkbox"] {
    flex: 0 0 auto;
}

.apply-filters {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--filter-button-bg-color);
}

button {
  
    border: none;
}

