:root {
        --search-button-bg-color: #4CAF50;
        --first-filter-button-bg-color: black;
}

.search-bar {
    background-color: gray;
    padding: max(10px, 0.75vw);
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    width: min(80vw, 800px);
    display: flex;
    gap: clamp(5px, 0.5vw, 16px);

}

input[type="search"] {
    flex: 1 1 60%;
    min-width: 0;
}

button[type="submit"], .container-filter  /*FILTER AND SEARCH BUTTONS*/ {
    flex: 1 1 15%;
    max-width: 200px;
 
}

.container-filter {
    position: relative;

    display: flex;
}

.container-filter button {
    flex: 1 1 auto;
}

.search-button {
    background-color: var(--search-button-bg-color);
}

.first-filter-button {
    background-color: var(--first-filter-button-bg-color);
}


