:root {
    --header-bg-color: rgb(19, 185, 19);
    --menu-options-mobile-bg-color: blue;
    --hover-menu-option-bg-color: brown;
    --overlay-menu-bg-color: rgba(0, 0, 0, 0.432);
}

header {
    height: clamp(40px, 6vh, 60px);
    background-color: var(--header-bg-color);
    font-weight: bold;
}

.nav-menu {
    position: relative;
    height: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    max-width: 1300px;
    grid-template: 1fr / auto 1fr auto;
    align-items: stretch;

    container-type: size;

    
}

.nav-menu.mobile {

  
}

.nav-menu.desktop {


}


.menu-hamburguer {
    grid-area: 1/3/2/4;
    font-size: 100cqh;
    justify-self: end;
}

.container-pages-options {
    list-style: none;

    display: flex;
    flex-flow: column nowrap;
}

.link-router {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 8px;

    font-size: clamp(15px, 2vw, 18px);
}


.container-pages-options.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 60vw;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
    background-color: var(--menu-options-mobile-bg-color);
    z-index: 1;

}

.container-pages-options.desktop {
    position: relative;
    grid-area: 1/3/2/4;

    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;

}


.menu-option:hover {
    background-color: var(--hover-menu-option-bg-color);

}

.menu-option.mobile {
    padding: 10px 0px 10px 10px;
}

.menu-option.desktop {
    padding: 0px 12px;


    

}




.container-pages-options.mobile.show-menu {
    transform: translateX(0);

}

.menu-overlay-mobile {
    position: fixed;
    background-color: var(--overlay-menu-bg-color);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    opacity: 0%;
    transition: opacity 1s ease;
    pointer-events: none;
}

.menu-overlay-mobile.active {
    opacity: 100%;
    pointer-events: auto;
}


