:root {
    --overlay-menu-bg-color: rgba(0, 0, 0, 0.432);
}

header {
    height: clamp(40px, 6vh, 60px);
    background-color: var(--Paleta01);
    font-weight: bold;
}

.navMenu {
    position: relative;
    height: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    max-width: 1300px;
    grid-template: 1fr / auto 1fr auto;
    align-items: stretch;

    container-type: size;

    
}

<<<<<<< HEAD
.navMenu.mobile {
=======
.navMenuMobile {
>>>>>>> b8217684bda051b346c74ed43262b75dbe9c3166

  
}

<<<<<<< HEAD
.navMenu.desktop {
=======
.navMenuDesktop {
>>>>>>> b8217684bda051b346c74ed43262b75dbe9c3166


}

.containerLogo {
    overflow: hidden;
}

.containerLogo img, .containerLogo svg {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.menuHamburguer {
    grid-area: 1/3/2/4;
    font-size: 100cqh;
    justify-self: end;
}

.containerPagesOptions {
    list-style: none;

    display: flex;
    flex-flow: column nowrap;
}

.linkRouter {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 8px;

    font-size: clamp(15px, 2vw, 18px);
    color: var(--Paleta02);
    text-decoration: none;
}




<<<<<<< HEAD
.containerPagesOptions.mobile {
=======
.containerPagesOptionsMobile {
>>>>>>> b8217684bda051b346c74ed43262b75dbe9c3166
    position: fixed;
    top: 0;
    left: 0;
    width: 60vw;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
    background-color: var(--Paleta01);
    z-index: 2;

}

<<<<<<< HEAD
.containerPagesOptions.desktop {
=======
.containerPagesOptionsDesktop {
>>>>>>> b8217684bda051b346c74ed43262b75dbe9c3166
    position: relative;
    grid-area: 1/3/2/4;

    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;

}


.menuOption:hover {
<<<<<<< HEAD
    background-color: var(--Paleta02);
=======
    background-color: var(--hover-menu-option-bg-color);
>>>>>>> b8217684bda051b346c74ed43262b75dbe9c3166
    

}

.menuOption:hover .linkRouter {
<<<<<<< HEAD
    color: var(--Paleta01);
}

.menuOption.mobile {
=======
    color: var(--hover-menu-option-color);
}

.menuOptionMobile {
>>>>>>> b8217684bda051b346c74ed43262b75dbe9c3166
    padding: 10px 0px 10px 10px;

}

<<<<<<< HEAD
.menuOption.desktop {
=======
.menuOptionDesktop {
>>>>>>> b8217684bda051b346c74ed43262b75dbe9c3166
    padding: 0px 12px;


    

}




<<<<<<< HEAD
.containerPagesOptions.mobile.showMenu {
=======
.containerPagesOptionsMobileShowMenu {
>>>>>>> b8217684bda051b346c74ed43262b75dbe9c3166
    transform: translateX(0);

}

.menuOverlayMobile {
    position: fixed;
    background-color: var(--overlay-menu-bg-color);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    opacity: 0%;
    transition: opacity 1s ease;
    pointer-events: none;
}

<<<<<<< HEAD
.menuOverlayMobile.active {
=======
.menuOverlayMobileActive {
>>>>>>> b8217684bda051b346c74ed43262b75dbe9c3166
    opacity: 100%;
    pointer-events: auto;
    z-index: 1;
}


