* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.recipe-card {
  
  
  aspect-ratio: 6/5;
  width: 100%;
  max-width: 450px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;

  display: flex;
  flex-flow: column nowrap;

  overflow: hidden;
  max-height: 100%;
}

.container-recipe-image-and-icon {
  background-color: rgb(179, 179, 179);
  height: 5%;
  position: relative;

  flex: 0 0 55%;
}

.container-wishlist-icon {
  position: absolute;
  display: flex;
  top: 6px;
  right: 6px;
  height: auto;
}

.wishlist-icon {
  font-size: 150%;
}

.container-all-recipe-info {
  padding: 0px 10px;
  flex: 1 1 auto;

  display: flex;
  flex-flow: column nowrap;
}

.name {
  color: black;
  text-align: left;
  font-size: clamp(1.25rem, 0.019rem + 6.154vw, 1.75rem);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  text-align: left;
  font-size: clamp(0.875rem, 0.26rem + 3.077vw, 1.125rem);
  line-height: clamp(0.875rem, -0.048rem + 4.615vw, 1.25rem);
  color: gray;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  line-clamp: 3;
}

@media (min-width: 510px) {
  .name {

    font-size: clamp(1.063rem, -0.049rem + 3.488vw, 1.625rem);

  }

  .description {
 
    font-size: clamp(0.75rem, 0.132rem + 1.938vw, 1.063rem);
    line-height: clamp(0.75rem, 0.009rem + 2.326vw, 1.125rem);


  }
}

@media (min-width: 769px) {
  .name {

    font-size:clamp(1.125rem, 0.132rem + 2.065vw, 1.875rem);

  }

  .description {
 
    font-size: clamp(0.813rem, 0.233rem + 1.205vw, 1.25rem);
    line-height:clamp(0.813rem, 0.233rem + 1.205vw, 1.25rem);


  }
}

.container-recipe-type-and-ready-in-minutes {
  margin-top: auto;
  margin-bottom: 4px;
  padding-top: 3px;
  border-top: 1px dashed gray;

  display: flex;
  justify-content: space-between;

  font-size: 16px;
  font-weight: bold;
}

.container-recipe-type {
  display: flex;
  align-items: center;
  gap: 5px;

  color: black;
}

.container-ready-in-minutes {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ready-in-minutes {
  color: black;
}



