.container {
    width: min(80vw, 600px);
    position: fixed;
    bottom: 5%;
    left: 50%;
    border-radius: var(--small-border-radius);
    transform: translate(-50%, 10vh);
    color: var(--Paleta02);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    z-index: 1000;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.418);
    animation: none;
}

.popup {


    animation: bounce-in-out 4s ease-in-out forwards;
}

@keyframes bounce-in-out {
    0% {
        transform: translateX(-50%) translateY(10vh);
    }
    20% {
        transform: translateX(-50%) translateY(0)
    }
    80% {
        transform: translateX(-50%) translateY(0);
    }
    100% {
        transform: translateX(-50%) translateY(10vh) ;
    }
}