:root {
    --Paleta01: #2CA849;
    --Paleta02: #FFFFFF;
    --Paleta03: black;
    --Paleta04: #727272;
    --Paleta05: #F7FCF9;
    --Paleta06: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    --small-border-radius: 5px;
    --medium-border-radius: 10px;
    --large-border-radius: 15px;

    --green-missed-ingredients: var(--Paleta01);
    --red-missed-ingredients: #E63946;
    --yellow-missed-ingredients: #FFB700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

