* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.recipe-card {
  aspect-ratio: 6/5;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;

  display: flex;
  flex-flow: column nowrap;
}

.container-recipe-image-and-icon {
  background-color: rgb(179, 179, 179);
  height: 5%;
  position: relative;

  flex: 0 0 55%;
}

.container-wishlist-icon {
  position: absolute;
  display: flex;
  top: 6px;
  right: 6px;
  height: auto;
}

.wishlist-icon {
  font-size: 150%;
}

.container-all-recipe-info {
  padding: 0px 10px;
  flex: 1 1 auto;

  display: flex;
  flex-flow: column nowrap;
}

.name {
  color: black;
  text-align: left;
  font-size: 20px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  text-align: left;
  font-size: 14px;
  line-height: 14px;
  color: gray;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  line-clamp: 3;
}

.container-recipe-type-and-ready-in-minutes {
  margin-top: auto;
  margin-bottom: 4px;
  padding-top: 3px;
  border-top: 1px dashed gray;

  display: flex;
  justify-content: space-between;

  font-size: 12px;
  font-weight: bold;
}

.container-recipe-type {
  display: flex;
  align-items: center;
  gap: 5px;

  color: black;
}

.container-ready-in-minutes {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ready-in-minutes {
  color: black;
}
